<?php
/**
 * SlmGoogleAnalytics Configuration
 *
 * If you have a ./configs/autoload/ directory set up for your project, you can
 * drop this config file in it and change the values as you wish.
 */
$googleAnalytics = array(
    /**
     * Web property ID (something like UA-xxxxx-x)
     */
    'id' => '',
);

/**
 * You do not need to edit below this line
 */
return array('google_analytics' => $googleAnalytics);
